body {
  font-family: verdana, helvetica, arial, sans-serif;
}

#mainMenu {
  background-color: none;
  border: 0px solid #CCC;
  color: #000;
  width: 203px;
}

#menuList {
  margin: 0px;
  padding: 10px 0px 10px 15px;
}

li.menubar {
  background: url(/graphics/plus.gif) no-repeat 0em 0.3em;
  font-size: 12px;
  line-height: 1.5em;
  list-style: none outside;
}

.menu, .submenu {
  display:  block; /*是否展开  */ 
  margin-left: 15px;
  padding: 0px;
}

.menu li, .submenu li {
  background: url(/graphics/square.gif) no-repeat 0em 0.3em;
  list-style: none outside;
}

 
a.actuator {
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  padding-left: 15px;
  text-decoration: none;
}
a.actuator1 {
  background-color: transparent;
  color: #FFF;
  font-size: 6px;
  padding-left: 6px;
  text-decoration: none;
}

a.actuator:hover {
  text-decoration: underline;
}

.menu li a, .submenu li a {
  background-color: transparent;
  color: #FFF;/* 字体颜色*/
  font-size: 12px;
  padding-left: 15px;
  text-decoration: none;
}

.menu li a:hover, submenu li a:hover {
  /*border-bottom: 1px dashed #000;*/
  text-decoration: underline;
}

span.key {
  text-decoration: underline;
}

p.cx {
  background-color: transparent;
  color: #FFF;
  font-size: 18px;
  padding-left: 15px;
  text-decoration: none;
}
a.dxx {
  background-color: transparent;
  color: #FFF;
  font-size: 6px;
  padding-left: 6px;
  text-decoration: none;
}