.sysTable {
	width: 100%;
}

.sysBODYStyle {
	BACKGROUND-COLOR: #F7FAFF;
	text-color: #000000;
}

.sysTDTitleStyle {
	text-align: center;
	font-family: "黑体";
	font-size: 16px;
	font-weight: bold;
	BACKGROUND-COLOR: #F7FAFF;
}

.sysTDHeadCStyle {
	BACKGROUND-COLOR: #76A8D9;
}

.sysTDHeadCCStyle {
	text-align: center;
	BACKGROUND-COLOR: #76A8D9;
}

.sysTDHeadCRStyle {
	text-align: right;
	BACKGROUND-COLOR: #76A8D9;
}

.sysTDHeadCLStyle {
	text-align: left;
	BACKGROUND-COLOR: #76A8D9;
}

.sysTDStyleBuffer {
	BACKGROUND-COLOR: #8699b7;
}

.sysTDItemNCStyle {
	BACKGROUND-COLOR: #F7FAFF;
}

.sysTDNcCItemStyle {
	BACKGROUND-COLOR: #F7FAFF;
	text-align: center;
}

.sysTDNcRItemStyle {
	BACKGROUND-COLOR: #F7FAFF;
	text-align: right;
}

.sysTDNcLItemStyle {
	BACKGROUND-COLOR: #F7FAFF;
	text-align: left;
}

.sysTDCRItemStyle {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px outset;
	FONT-FAMILY: "宋体";
	text-align: right;
}

.sysTDCLItemStyle {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px outset;
	FONT-FAMILY: "宋体";
	text-align: left;
}

.sysTDCCItemStyle {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px outset;
	FONT-FAMILY: "宋体";
	text-align: center;
}

.sysTDItemTitleStyle {
	BACKGROUND-COLOR: #C4D6E4;
	text-align: left;
}

.sysTDStyle {
	BACKGROUND-COLOR: #336995;
}

.sysTDItemStyle {
	BACKGROUND-COLOR: #F7FAFF;
	text-align: left;
}

.sysTDSelectedItemStyle {
	BACKGROUND-COLOR: #BAE0E3;
	text-align: left;
}

.sysTDUnSelectedItemStyle {
	BACKGROUND-COLOR: #F7FAFF;
	text-align: left;
}

.sysTDDeletedItemStyle {
	BACKGROUND-COLOR: #D05616;
	text-align: left;
}

.sysTDSplitStyle {
	BACKGROUND-COLOR: #dcdcdc;
	text-align: left;
}

.sysTDNoteStyle {
	BACKGROUND-COLOR: #EDF0F5;
	text-align: left;
}

.sysBgTable {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-BOTTOM: #76A8D9 0px solid;
	BORDER-LEFT: #76A8D9 0px solid;
	BORDER-RIGHT: #76A8D9 0px solid;
	BORDER-TOP: #76A8D9 0px solid;
	width: 100%;
	align: right;
}

.mtrparamTH {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-BOTTOM: #76A8D9 0px solid;
	BORDER-LEFT: #76A8D9 0px solid;
	BORDER-RIGHT: #76A8D9 0px solid;
	BORDER-TOP: #76A8D9 0px solid;
	width: 60%;
	align: center;
}
/* 串口方案表格样式 */
.sioplanTable {
	BORDER-BOTTOM: #76A8D9 2px outset;
	BORDER-LEFT: #76A8D9 2px outset;
	BORDER-RIGHT: #76A8D9 2px outset;
	BORDER-TOP: #76A8D9 2px outset;
	text-align: center; /*表格内文本水平居中*/
	margin: auto; /*整个表格居中*/
}
/* 表头 */
.sioplanTable thead {
	
}

.sioplanTable th {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-BOTTOM: #ffffff 2px outset;
	BORDER-LEFT: #ffffff 2px outset;
	BORDER-RIGHT: #ffffff 2px outset;
	BORDER-TOP: #ffffff 2px outset;
}

.sioplanTable td {
	BACKGROUND-COLOR: #F7FAFF;
}

.msnbox {
	BACKGROUND-COLOR: #76A8D9;
}
/*鼠标划过的行样式 addclass 或removeclass */
tr.over td {
	background: #D6E8F8;
	/*font-weight: bold;  */
}
/* 监视参数 表格样式 */
.monparamTable {
	border-color: #76A8D9;
	margin: auto; /*整个表格居中*/
}
/* 监视参数 表头样式 */
.monparamTableHead {
	BACKGROUND-COLOR: #76A8D9;
	/*BORDER-BOTTOM:#76A8D9 0px solid;
	BORDER-LEFT: #76A8D9 0px solid;
	BORDER-RIGHT: #76A8D9 0px solid;
	BORDER-TOP: #76A8D9 0px solid; */
	/*align:center; */
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px outset;
	FONT-FAMILY: "宋体";
}
/* 表计参数 表格样式 */
.mtrparamTable {
	border-color: #76A8D9;
}
/* 表计参数 表头样式 */
.mtrparamTableHead {
	BACKGROUND-COLOR: #76A8D9;
	/*BORDER-BOTTOM:#76A8D9 0px solid;
	BORDER-LEFT: #76A8D9 0px solid;
	BORDER-RIGHT: #76A8D9 0px solid;
	BORDER-TOP: #76A8D9 0px solid; */
	align: left;
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px outset;
	FONT-FAMILY: "宋体";
}
/* 一般表数据单元样式 */
.sysTableData {
	BACKGROUND-COLOR: #F7FAFF;
	text-align: center;
	align: center;
}

.sysTitleTable {
	width: 100%;
	align: right;
}

.sysDetailTable {
	width: 100%;
	align: right;
}

.sysViewTable {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-BOTTOM: #76A8D9 0px solid;
	BORDER-LEFT: #76A8D9 0px solid;
	BORDER-RIGHT: #76A8D9 0px solid;
	BORDER-TOP: #76A8D9 0px solid;
	width: 100%;
	text-align: left;
}

.sysViewTrTittle {
	BACKGROUND-COLOR: #C4D6E4;
	text-align: left;
}

.sysViewTr {
	BACKGROUND-COLOR: #ffffff;
	text-align: left;
}

.sysViewTrHeight {
	BACKGROUND-COLOR: #ffffff;
	text-align: left;
	height: 120;
}

.sysUpdateTable {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-BOTTOM: #76A8D9 0px solid;
	BORDER-LEFT: #76A8D9 0px solid;
	BORDER-RIGHT: #76A8D9 0px solid;
	BORDER-TOP: #76A8D9 0px solid;
	width: 98%;
	text-align: left;
}

.sysUpdateTrTittle {
	BACKGROUND-COLOR: #C4D6E4;
	text-align: left;
}

.sysUpdateTr {
	BACKGROUND-COLOR: #ffffff;
	text-align: left;
}

.sysFgTable {
	BACKGROUND-COLOR: #dcdcdc;
	BORDER-BOTTOM: #dcdcdc 0px solid;
	BORDER-LEFT: #dcdcdc 0px solid;
	BORDER-RIGHT: #dcdcdc 0px solid;
	BORDER-TOP: #dcdcdc 0px solid;
}

.sysBlankTable {
	BACKGROUND-COLOR: #F7FAFF;
	BORDER-BOTTOM: #F7FAFF 0px solid;
	BORDER-LEFT: #F7FAFF 0px solid;
	BORDER-RIGHT: #F7FAFF 0px solid;
	BORDER-TOP: #F7FAFF 0px solid;
}

.sysSelectBlankTable {
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM: #FFFFFF 0px solid;
	BORDER-LEFT: #FFFFFF 0px solid;
	BORDER-RIGHT: #FFFFFF 0px solid;
	BORDER-TOP: #FFFFFF 0px solid;
	width: 83%;
}

.iptTd {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	BORDER: 1PX #999999 SOLID;
	BACKGROUND-COLOR: #ffffff;
}

.yjkhTDCrossingStyle {
	BACKGROUND-COLOR: #D6E3FF;
	text-align: left;
}

.menu {
	COLOR: #D9EC2B;
	text-decoration: none;
	letter-spacing: 1px
}

a.menu:link {
	COLOR: #D9EC2B;
	text-decoration: none
}

a.menu:visited {
	COLOR: #D9EC2B;
	text-decoration: none
}

a.menu:active {
	COLOR: #D9EC2B;
	text-decoration: none
}

a.menu:hover {
	COLOR: #ffffff;
	text-decoration: none;
	position: relative;
	left: 1px;
	top: 1px
}

.treat {
	BACKGROUND-IMAGE: url(images/treat.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 18px;
	WIDTH: 45px
}

.login {
	BACKGROUND-IMAGE: url(images/login_buttom.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 18px;
	WIDTH: 45px
}

.nlogin {
	BACKGROUND-IMAGE: url(images/button.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 18px;
	WIDTH: 64px
}

.add {
	BACKGROUND-IMAGE: url(images/add.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.maintence {
	BACKGROUND-IMAGE: url(images/mainten.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.stat {
	BACKGROUND-IMAGE: url(images/stat.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.execute {
	BACKGROUND-IMAGE: url(images/execute.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.recount {
	BACKGROUND-IMAGE: url(images/recount.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.anelit {
	BACKGROUND-IMAGE: url(images/anelit.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.addDetail {
	BACKGROUND-IMAGE: url(images/addDetail.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.delDetail {
	BACKGROUND-IMAGE: url(images/delDetail.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.segmentreport {
	BACKGROUND-IMAGE: url(images/segment.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.calculate {
	BACKGROUND-IMAGE: url(images/calculate.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.cancel {
	BACKGROUND-IMAGE: url(images/cancel.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.checkOk {
	BACKGROUND-IMAGE: url(images/checkOk.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.eventQuery {
	BACKGROUND-IMAGE: url(images/event_query.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.exec {
	BACKGROUND-IMAGE: url(images/execnte.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.finish {
	BACKGROUND-IMAGE: url(images/finish.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.formula {
	BACKGROUND-IMAGE: url(images/formula.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.addList {
	BACKGROUND-IMAGE: url(images/addlist.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.delList {
	BACKGROUND-IMAGE: url(images/dellist.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.generator {
	BACKGROUND-IMAGE: url(images/gen.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.indexQuery {
	BACKGROUND-IMAGE: url(images/index_query.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.next {
	BACKGROUND-IMAGE: url(images/next.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.ok {
	BACKGROUND-IMAGE: url(images/ok.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.goto {
	BACKGROUND-IMAGE: url(images/goto.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.previous {
	BACKGROUND-IMAGE: url(images/previous.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.print {
	BACKGROUND-IMAGE: url(images/print.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.reGenerator {
	BACKGROUND-IMAGE: url(images/reGenerate.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.remove {
	BACKGROUND-IMAGE: url(images/remove.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.removeAll {
	cursor: hand;
	BACKGROUND-IMAGE: url(images/removeAll.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.report {
	cursor: hand;
	BACKGROUND-IMAGE: url(images/report.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.callback {
	cursor: hand;
	BACKGROUND-IMAGE: url(images/callback.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.return {
	BACKGROUND-IMAGE: url(images/return.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.saveformula {
	cursor: hand;
	BACKGROUND-IMAGE: url(images/saveformula.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 55px
}

.save {
	BACKGROUND-IMAGE: url(images/z_save.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.load {
	BACKGROUND-IMAGE: url(images/z_load.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.savedoc {
	BACKGROUND-IMAGE: url(images/savedoc.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.savedoc10 {
	BACKGROUND-IMAGE: url(images/savedoc10.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 112px
}

.savedoc20 {
	BACKGROUND-IMAGE: url(images/savedoc20.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 112px
}

.saveToword {
	BACKGROUND-IMAGE: url(images/save2word.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.calc {
	BACKGROUND-IMAGE: url(images/z_calc.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.strike {
	BACKGROUND-IMAGE: url(images/strike.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.select {
	BACKGROUND-IMAGE: url(images/select.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.selectAll {
	BACKGROUND-IMAGE: url(images/selectAll.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.submit {
	BACKGROUND-IMAGE: url(images/submit.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.del {
	BACKGROUND-IMAGE: url(images/del.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.modify {
	BACKGROUND-IMAGE: url(images/modify.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.search {
	BACKGROUND-IMAGE: url(images/search.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.preview {
	BACKGROUND-IMAGE: url(images/preview.gif);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.help {
	BACKGROUND-IMAGE: url(images/help.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 16px;
}

.close {
	BACKGROUND-IMAGE: url(images/close.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 16px;
}

.cal {
	BACKGROUND-IMAGE: url(images/cal.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 16px
}

.ipt {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	BORDER: 1PX #999999 SOLID;
	background-color: FFFFFF
}

.iptB {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	border-left: 0px transparent solid;
	border-top: 0px transparent solid;
	border-right: 0px transparent solid;
	border-bottom: 1px #999999 solid;
	background-color: FFFFFF;
}

.iptK {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px;
	border: 0px solid;
	background-color: transparent
}

select {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
}

table {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
	border-collapse: collapse;
	border-color: #000000;
}

td {
	font-family: "宋体";
	font-size: 9pt;
}

body {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
}

.normal {
	BACKGROUND: #ffffff
}

.today {
	BACKGROUND: #99cc66
}

.satday {
	COLOR: red
}

.sunday {
	COLOR: green
}

.shadow {
	filter: DropShadow(Offx =       3, Offy =       3, Positive =       1);
}

.calSelect {
	BACKGROUND-COLOR: #EFEFEF;
	FONT-SIZE: 9pt;
}

.h9 {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 12px
}

.h9en {
	FONT-FAMILY: "Arial,Helvetica,Sans-serif";
	FONT-SIZE: 12px
}

.h14 {
	font-family: "黑体";
	font-size: 14px;
	font-weight: bold
}

.dot {
	border-color: black black #000000;
	border-style: dotted;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px
}

.drag {
	background: #0066FF;
}

.errHid {
	display: none
}

.errShow {
	display: block
}

.iptlogin {
	BORDER: 1px SOLID #516CA0;
}

.menuheader {
	BORDER-COLOR: #FF0000;
	cursor: hand;
	Border-Left: #000000;
	Border-Top: #000000;
	Padding-Left: 1px;
	Padding-Top: 1px;
	Background-Color: #0000FF;
}

.handcursor {
	cursor: hand;
}

.inputForm {
	BACKGROUND-COLOR: #e8e8e8;
	BORDER-BOTTOM: #a8a8a8 1px solid;
	BORDER-LEFT: #a8a8a8 1px solid;
	BORDER-RIGHT: #a8a8a8 1px solid;
	BORDER-TOP: #a8a8a8 1px solid;
	FONT-SIZE: 9pt
}

.zPrev {
	BACKGROUND-IMAGE: url(images/z_prev.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zNext {
	BACKGROUND-IMAGE: url(images/z_next.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zList {
	BACKGROUND-IMAGE: url(images/z_pn_list.jpg);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 16px
}

.zPie {
	BACKGROUND-IMAGE: url(images/z_pn_pie.jpg);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 16px
}

.zBar {
	BACKGROUND-IMAGE: url(images/z_pn_bar.jpg);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 16px
}

.zDetail {
	BACKGROUND-IMAGE: url(images/z_detail.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 16px
}

.zOpen {
	BACKGROUND-IMAGE: url(images/z_toright.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 14px;
}

.zClose {
	BACKGROUND-IMAGE: url(images/z_toleft.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 14px;
}

.zColumn {
	BACKGROUND-IMAGE: url(images/z_msgset.bmp);
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 17px
}

.zSet {
	BACKGROUND-IMAGE: url(images/file.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 14px
}

.zAdd {
	BACKGROUND-IMAGE: url(images/z_add.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 16px
}

.zANew {
	BACKGROUND-IMAGE: url(images/adda.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 16px
}

.zMod {
	BACKGROUND-IMAGE: url(images/change.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 18px
}

.zChk {
	BACKGROUND-IMAGE: url(images/z_chk.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 18px
}

.zDel {
	BACKGROUND-IMAGE: url(images/z_delete.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 16px;
	WIDTH: 16px
}

.zToNow {
	BACKGROUND-IMAGE: url(images/z_toNow.jpg);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 14px;
	WIDTH: 27px
}

.zCreate {
	BACKGROUND-IMAGE: url(images/z_create.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zFresh {
	BACKGROUND-IMAGE: url(images/z_fresh.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zReplace {
	BACKGROUND-IMAGE: url(images/z_replace.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zRefresh {
	BACKGROUND-IMAGE: url(images/z_refresh.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zToLastDate {
	BACKGROUND-IMAGE: url(images/tolastdate.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zToNowDate {
	BACKGROUND-IMAGE: url(images/tonowdate.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.zNew {
	BACKGROUND-IMAGE: url(images/z_new.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.sInfoTable {
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM: #316394 1px solid;
	BORDER-LEFT: #316394 0px solid;
	BORDER-RIGHT: #316394 1px solid;
	BORDER-TOP: #FFFFFF 0px solid;
}

.sTDInfoHeadStyle {
	BACKGROUND-COLOR: #C9D7DE;
	BACKGROUND-IMAGE: url(images/z_info_bg.jpg);
	BACKGROUND-repeat: x-repeat;
	HEIGHT: 21px;
	text-align: left;
}

.sTDInfoStyle {
	BACKGROUND-COLOR: #C9D7DE;
	HEIGHT: 100px;
	text-align: center;
}

.sTDInfoLStyle {
	BACKGROUND-COLOR: #C9D7DE;
	HEIGHT: 100px;
	text-align: left;
}

.sBodyInfoStyle {
	BACKGROUND-COLOR: #FFFFFF;
	BACKGROUND-IMAGE: url(images/right_bg.jpg);
	BACKGROUND-repeat: no-repeat;
	BACKGROUND-POSITION: right bottom;
}

.forecast {
	BACKGROUND-IMAGE: url(images/forecast.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px;
}

.abandon {
	BACKGROUND-IMAGE: url(../images/abandon.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 18px;
	WIDTH: 45px
}

.apportion {
	BACKGROUND-IMAGE: url(images/apportion.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.moveUp {
	BACKGROUND-IMAGE: url(images/z_up.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

.moveDown {
	BACKGROUND-IMAGE: url(images/z_down.gif);
	cursor: hand;
	BORDER-BOTTOM: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	HEIGHT: 17px;
	WIDTH: 45px
}

TD.label {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px outset;
	FONT-FAMILY: "宋体"
}

TD.lb-head {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	FONT-FAMILY: "宋体"
}

TD.lb-end {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	FONT-FAMILY: "宋体"
}

TD.lb-bottom {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	FONT-FAMILY: "宋体"
}

TD.lb-top {
	BORDER-RIGHT: #ffffff 2px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px;
	FONT-FAMILY: "宋体"
}

TD.lb-top-left {
	BORDER-RIGHT: #ffffff 2px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	FONT-FAMILY: "宋体"
}

TD.lb-top-head {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-RIGHT: #ffffff 2px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px outset;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	FONT-FAMILY: "宋体"
}

TD.lb-none {
	BORDER-RIGHT: #ffffff 2px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	FONT-FAMILY: "宋体"
}

TD.lb-body {
	BACKGROUND-COLOR: #76A8D9;
	BORDER-RIGHT: #ffffff 1px outset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ffffff 2px outset;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #ffffff 1px outset;
	FONT-FAMILY: "宋体"
}

TD.lb-bkg {
	BACKGROUND-COLOR: #76A8D9;
	/*HEIGHT:      200px;*/
	text-align: left;
	text-valign: top;
	BORDER-RIGHT: #ffffff 2px inset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px inset;
	PADDING-TOP: 0px;
	BORDER-LEFT: #ffffff 2px inset;
	PADDING-LEFT: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	PADDING-BOTTOM: 0px;
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体"
}

TD.lb-bkg-s {
	BACKGROUND-COLOR: #76A8D9;
	HEIGHT: 50px;
	text-align: left;
	text-valign: top;
	BORDER-RIGHT: #ffffff 2px inset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px inset;
	PADDING-TOP: 0px;
	BORDER-LEFT: #ffffff 2px inset;
	PADDING-LEFT: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	PADDING-BOTTOM: 0px;
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体"
}

TD.lb-bkg-w {
	BACKGROUND-COLOR: #76A8D9;
	HEIGHT: 280px;
	text-align: left;
	text-valign: top;
	BORDER-RIGHT: #ffffff 2px inset;
	PADDING-RIGHT: 0px;
	BORDER-TOP: #ffffff 2px inset;
	PADDING-TOP: 0px;
	BORDER-LEFT: #ffffff 2px inset;
	PADDING-LEFT: 0px;
	BORDER-BOTTOM: #ffffff 2px inset;
	PADDING-BOTTOM: 0px;
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体"
}
/*显示日志文本*/
.log_txt {
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #ccc;
	display: block;
	width: 80%;
	height: 300px;
	box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
	overflow-y: auto;
	margin: auto;
}
/*等待图标*/
.waiticon {
	position:fixed;
	float:left;
	display: none;
	border:0px;
	width:16px;
	height:16px;
	background:  url('/style/images/ui-anim_basic_16x16.gif') right center no-repeat;
	/*background:transparent url("./images/ui-anim_basic_16x16.gif") 0 0;*/
	/*background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;*/
}
.date {
	size:20;
	background:  url('/style/images/calendar.gif') right center no-repeat;
}
.hide{
	display: none;
}